@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: $color-overlay;
    z-index: 1000;
  
    &--active {
        display: flex;
        @include flex-center;
    }
  
    &__content {
        background: var(--card-bg);
        padding: 20px;
        width: 90%;
        max-width: 350px;
        border-radius: $border-radius;
        position: relative;
        color: var(--text-color);
    }
  
    &__close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
        color: var(--text-color);
        opacity: 0.7;
        transition: opacity $transition;
    
        &:hover {
            opacity: 1;
        }
    }
}