@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.progress {
    width: 100%;
    height: 10px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
  
    &__bar {
      height: 100%;
      background-color: $color-primary;
      border-radius: 5px;
      width: var(--level, 0%);
    }
  }